
# Created by https://www.toptal.com/developers/gitignore/api/vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log
.vuepress/dist
package-lock.json
# 忽略使用WebStorm开发时，生成的缓存文件夹
.idea
# 忽略使用VSCode开发时，生成的缓存文件夹
.vscode

# End of https://www.toptal.com/developers/gitignore/api/vuejs